<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="side-bar">
    <div class="nav-01">
        <ul>
            <li><a href="#">NEW 5%</a></li>
            <li><a href="#">SET UP</a></li>
            <li><a href="#">OUTER</a></li>
            <li><a href="#">TOP</a></li>
            <li><a href="#">SHIRT</a></li>
            <li><a href="#">BOTTOMS</a></li>
            <li><a href="#">SHOES</a></li>
            <li><a href="#">ACC</a></li>
        </ul>
    </div>
    <div class="nav-02">
        <ul>
            <li><a href="#">NOTICE</a></li>
            <li><a href="#">Q & A</a></li>
            <li><a href="#">REVIEW</a></li>
        </ul>
    </div>
    <div class="sns-btn">
        <ul>
            <li><a href="https://instagram.com/connmk" target="_blank"><i class="fa-brands fa-instagram"></i><span>INSTAGRAM</span></a></li>
            <li><a href="https://www.facebook.com/containermarket.co.kr" target="_blank"><i class="fa-brands fa-facebook-f"></i><span>FACEBOOK</span></a></li>
        </ul>
    </div>
    <div class="kakao_btn"><a href="#none" onclick="popWin=window.open('https://pf.kakao.com/_UnGss','windows','width=600,height=670,scrollbars=yes'); popWin.focus(); return false;" class="kakao"><img src="/static/images/kakao_btn.png"></a></div>
</nav>